table.row.link-content
  tr
    td.wrapper
      table.three.columns
        tr
          td.thumbnail-pad
            a(href="http://kennethormandy.com/journal/normalize-opentype-css")
              img(src="https://goodbits-production.s3.amazonaws.com/uploads/link/thumbnail/3226/example-1.png" alt="Introducing Normalize-OpenType.css")
    td.wrapper.last
      table.columns
        tr
          td.text-pad
            h3: a(href="http://kennethormandy.com/journal/normalize-opentype-css") Introducing Normalize-OpenType.css
          td.expander
        tr
          td.text-pad
            p
              | OpenType features make it possible for type designers to include language requirements,
              | and typographic niceties-ligatures, alternate figures, small caps-within a font.
            p
              | These design decisions are one reason certain type families are much more useful
              | and versatile than others, yet the features they include are usually ignored on
              | the web. I’m that will happen a little less often with Normalize-OpenType.css.
          td.expander
table.row.link-content
  tr
    td.wrapper
      table.three.columns
        tr
          td.thumbnail-pad
    td.wrapper.last
      table.nine.columns
        tr
          td.text-pad
            h3: a(href="http://www.carrois.com/fira") Mozilla shares new weights of Fira, and its source files
          td.expander
        tr
          td.text-pad
            p
              | Mozilla recently released a new version of Erik Spiekermann’s Fira type family,
              | which now includes even more weights, and is available on Google Fonts, too.
            p
              | For type designers, it’s also now truly open source, as the UFO source files were
              | added to the GitHub repo the other day.
          td.expander
table.row.link-content
  tr
    td.wrapper
      table.three.columns
        tr
          td.thumbnail-pad
            a(href="http://neilk.net/blog/2002/06/01/undesigning-cherokee-syllabary")
              img(src="https://goodbits-production.s3.amazonaws.com/uploads/link/thumbnail/3228/sequoyah-scribal.jpg" alt="Undesigning Cherokee syllabary - Neil Kandalgaonkar")
    td.wrapper.last
      table.columns
        tr
          td.text-pad
            h3: a(href="#") Undesigning Cherokee syllabary – Neil Kandalgaonkar
          td.expander
        tr
          td.text-pad
            p
              | “I am not a scholar of Cherokee, but here’s the story as I understand it, from
              | what research I can do online and from the few books on the topic. This is just
              | the story of one amateur typographer.”
            p
              | This week, we were lucky enough to host Neil Kandalgaonkar at the&nbsp;
              a(href="http://typebrigade.com") Type Brigade meetup
              |  here in Vancouver. He spoke on his foray into Cherokee
              | type design, and his full blog post is just as interesting now as when he published
              | it.
          td.expander
